
@{ ViewBag.Title = "Opinie";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2 style="margin:20px;text-align:left;font-size:20px">Opinie</h2>



<div style="font-size:20px" ;>
    <br />
    Realizowana w Unii Europejskiej polityka jakości daje także pewność konsumentom, że kupują oni żywność bardzo wysokiej jakości, która jednocześnie charakteryzuje się wyjątkową, tradycyjną metodą produkcji.<br />
    Ze względu na dużą różnorodność produktów wprowadzanych na rynek konsumenci oczekują ponadto jasnych i wyczerpujących informacji na temat jakości i pochodzenia produktu rolnego lub artykułu spożywczego.<br />
    Identyfikację i wybór poszczególnych wyrobów ułatwiają oznaczenia geograficzne, nazwy pochodzenia oraz gwarantowane tradycyjne specjalności.<br />
</div>
<a id="indexHeaderLogo" href="@Url.Content("~/")">

    <img src="~/Content/Images/banner2.png" style="margin-bottom:30px;"/>
</a>