
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin:20px;text-align:left;font-size:20px">Regulamin</h2>



<div style="font-size:20px" ;>
    <br />  Regulamin – zbiór przepisów normujących zasady postępowania lub prac organu państwowego, instytucji, zakładu lub urządzenia wydany przez organ do tego uprawniony.<br />

    Regulaminy określają wewnętrzne zasady postępowania i życia organizacji, instytucji lub grup osobowych. <br />
    Do najbardziej znanych należą regulaminy wojskowe oraz regulaminy wewnętrzne instytucji państwowych i samorządowych.<br />
</div>

<a id="indexHeaderLogo" href="@Url.Content("~/")">

    <img src="~/Content/Images/banner2.png" style="margin-bottom:30px;"/>
</a>