
@{ ViewBag.Title = "Spolecznosc";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2 style="margin:20px;text-align:left;font-size:20px">Spolecznosc</h2>



<div style="font-size:20px" ;>
    <br />
    System ochrony i promocji wyrobów regionalnych i tradycyjnych jest jednym z najważniejszych czynników wpływających na zrównoważony rozwój obszarów wiejskich i realizację założeń II filaru Wspólnej Polityki Rolnej.<br />
    Przyczynia się on do zróżnicowania zatrudnienia na obszarach wiejskich tworząc na wsi pozarolnicze źródła utrzymania oraz zwiększa dochody producentów rolnych.<br />
    Ma to ogromne znaczenie, w szczególności dla obszarów odległych lub obszarów o niekorzystnych warunkach gospodarowania (ONW), gdyż zapobiega wyludnianiu się tych terenów.<br />
    Za sprawą systemu ochrony i promocji produktów regionalnych i tradycyjnych chroni się także dziedzictwo kulturowe wsi, co w dużym stopniu przyczynia się do zwiększenia atrakcyjności terenów wiejskich i rozwoju agroturystyki i turystyki wiejskiej.<br />
</div>

<a id="indexHeaderLogo" href="@Url.Content("~/")">

    <img src="~/Content/Images/banner2.png" style="margin-bottom:30px;"/>
</a>