@model RegionalShop.ViewModels.ZamowienieZrealizowaneEmail
Content-Type: text/html; charset=utf-8

<html>
<body style="font-size:20px">
    @Html.EmbedImage("~/content/Images/banner2.png")
    <p>Dziękujemy!</p>
    <p>Twoje zamówienie nr @Model.NumerZamowienia</p>
    <p>złożone w serwisie RegionalShop zostało zrealizowane.</p>
    <p>Przesyłka została nadana pod wskazany adres.</p>
    <p>Zapraszamy ponownie - odwiedź nas wkrótce</p>
</body>
</html>



