
@{ ViewBag.Title = "Kontakt";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2 style="margin:20px;text-align:left;font-size:20px">Kontakt</h2>



<div style="float:left;font-size:20px;text-align:left">
    <br />
    RegionalShop S.A.<br />
    ul. Wspólna 30, 38-200 Jasło<br />
    Tel. (22) 623 22 08 <br />
    Fax: (22) 623 23 25<br />
    e-mail: newregionalshop@gmail.pl<br />
</div>
<div style="float:left; margin-top:20px;margin-bottom:20px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20628.991769782504!2d21.46329148955078!3d49.736702249999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1606160967425!5m2!1spl!2spl" width="1000" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<a id="indexHeaderLogo" href="@Url.Content("~/")">

    <img src="~/Content/Images/banner2.png" style="margin-bottom:30px;"/>
</a>

